.bt-bar {
  background-color: white;
  border: none;
  font-size: 20px;
  color: #1890ff;
  cursor: pointer;
  display: none;
}
.dawer-header img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.dawer-header {
  color: #1890ff;
}
.dawer-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container-dawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media only screen and (max-width: 725px) {
  .bt-bar {
    display: block;
  }
}
