#main-from-forgot {
  height: 200px;
}
.action-forgot-pass button {
  background-color: white;
  color: #8ab0ff;
  border: solid;
  border-width: 1px;
  margin-left: 5px;
}
.action-forgot-pass {
  margin-top: 20px;
  margin-left: auto;
}
#cancel-send-mail {
  color: #e44d3a;
  border-color: #e44d3a;
}
.input-fogot-pass {
  height: 35px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 7px -3px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding-left: 10px;
}
