#colPost {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.clickToPost {
  width: 700px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
  margin-top: 100px;
  background-color: white;
  border-top: solid;
  border-color: #748df2;
}
.title-form-post {
  display: flex;
}
.clickToPost img {
  height: 32px;
  width: 32px;
}
.inputAndIconPost {
  display: flex;
}
.inputAndIconPost input {
  flex: 1;
  border: none;
  height: 45px;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  border-width: 1px;
  border-color: #748df2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.inputAndIconPost button {
  height: 45px;
  width: 45px;
  border: none;
  background-color: #748df2;
  color: white;
  font-size: 16px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.img-avatar {
  width: 24px;
  height: 24px;
}
.hearder {
  background-color: #e44d3a;
  width: 100%;
  height: 5px;
}
/* form post */

.container-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.icon-time {
  position: relative;
  top: 160px;
  left: 665px;
  z-index: 1;
  color: white;
  background-color: #ff4d4f;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 25px;
}
/* No data */
.nodata {
  background-color: white;
  height: 530px;
  margin-top: 100px;
  width: 400px;
  box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nodata img {
  height: 250px;
}
.fixed-login {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fixed-login img {
  height: 42px;
  width: 42px;
}
.fixed-login button {
  border: none;
  color: white;
  background-color: #63b5f6;
  border-radius: 3px;
  width: 100px;
  height: 32px;
  margin-left: 10px;
}
/* Have data */
.container-accout {
  background-color: white;
  height: 530px;
  margin-top: 100px;
  width: 400px;
  box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  position: fixed;
}

.container-accout {
}

.account-fixed img {
  height: 84px;
  width: 84px;
}
.img-acc {
  /* background-color: #84b8ef; */
  height: 100px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #84b8ef;
}
.img-acc span {
  position: relative;
  top: 46px;
  left: 145px;
  font-size: 22px;
  font-weight: 700;
  color: #84b8ef;
}
.img-color {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  left: 148px;
}

.email-fixed {
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.icon-mail {
  color: #e44d3a;
  margin-right: 10px;
}
.icon-user-clock {
  color: #63b5f6;
  margin-right: 5px;
}
.acc-transaction {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  margin-top: 5px;
}
