#checkbox {
  height: 13px;
  width: 13px;
  box-shadow: none;
  margin-right: 5px;
  cursor: pointer;
}
.forgot-pass-login {
  border-left: solid;
  margin-left: 15px;
  padding-left: 15px;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 0.3);
  cursor: pointer;
}
.forgot-pass-login:hover {
  text-decoration: underline;
  color: #8ab0ff;
}
