.container-cardPost {
  display: flex;
  width: 700px;
  margin-top: 30px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
  padding: 20px;
}
.img-post {
  width: 100%;
}
.avatar-name {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.avatar-postcard {
  height: 38px;
  width: 38px;
  margin-right: 10px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}
.name-post {
  font-weight: bold;
  color: #748df2;
}
.moment {
  color: #aaaaaa;
  font-size: 11px;
}
.moment span {
  margin-right: 5px;
}
.main-post {
  display: flex;
}
.description-post {
  flex: 1;
}
.image-post {
  width: 100%;
  flex: 1;
}
.address {
  display: flex;
  align-items: center;
}
.icon-address {
  background-color: #e44d3a;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  width: 14px;
  color: white;
  border-radius: 12px;
  margin-right: 5px;
}
.address span {
  color: #999999;
  font-size: 13px;
}
.tile-post {
  color: #748df2;
}
.need-item span {
  font-weight: 500;
}
.icon-need {
  color: #53d690;
}
.icon-need span {
  font-weight: 400;
  color: #444444;
}
/* Like, comnent */
.action {
  display: flex;
  justify-content: space-around;
  border-top: solid;
  padding-top: 10px;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 0.3);
  margin-top: 5px;
  margin-bottom: 15px;
}
.icon {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: #444444;
  cursor: pointer;
}
.icon:hover {
  color: #748df2;
}
.icon span {
  font-size: 14px;
  margin-left: 5px;
}
.icon-like img {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 0;
  margin-right: 5px;
}
.icon-like :hover {
  color: #e44d3a;
}
.conunt-like {
  display: flex;
  justify-content: space-between;
}
.conunt-like img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
/* form comment */
.form-comment {
  display: flex;
}
.form-comment form {
  display: flex;
  flex: 1;
  border: solid;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 0.3);
  border-radius: 32px;
  background-color: #f2f2f2;
  margin-left: 5px;
}
.form-comment input {
  flex: 1;
  border: none;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 15px;
}
.form-comment input:focus {
  outline: none;
}
.avatar-from-comment {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}
.form-comment button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 5px;
  font-size: 15px;
}
.form-comment button :focus {
  outline: none;
}
/* content coment */
.container-comment {
  margin-bottom: 20px;
}
.content-comment {
  display: flex;
  align-items: center;
}
.avatar-comment {
  height: 28px;
  width: 28px;
  margin-right: 5px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.main-comment {
  background-color: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 10px;
  border-radius: 30px;
}
/* Reply */
.reply {
  margin-left: 40px;
  font-size: 11px;
}
.reply button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 11px;
  color: #748df2;
  cursor: pointer;
}
/* form reply */
.reply-form {
  margin-left: 33px;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.avatar-form-reply {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-position: center;
  background-size: cover;
  margin-right: 5px;
}
.reply-form form {
  display: flex;
  flex: 1;
}
.reply-form input {
  width: 86%;
  border: solid;
  border-right: none;
  background-color: #f2f2f2;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 0.3);
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  padding-left: 15px;
}
.reply-form input:focus {
  outline: none;
}
.reply-form button {
  border: none;
  border-bottom: solid;
  border-top: solid;
  border-right: solid;
  background-color: #f2f2f2;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 0.3);
  color: #748df2;
  font-size: 12px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  font-weight: bold;
  cursor: pointer;
}
.reply-form button:focus {
  outline: none;
}
.reply span {
  border-left: solid;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 0.3);
}
.count-reply {
  cursor: pointer;
}
.count-reply:hover {
  color: #748df2;
  text-decoration: underline;
}
