#col-list-acc {
  margin-top: 100px;
}
#col-list-trans {
  margin-top: 100px;
}

.container-frofile {
  margin-left: 70px;
  padding-right: 70px;
}
/* Form send addres */
.container-form-address {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.main-form-address {
  background-color: white;
  height: 300px;
  width: 400px;
  border-radius: 3px;
  box-shadow: 0px 0px 11px -5px white;
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
}
.container-header-address {
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 0.3);
  margin-top: 5px;
}
.header-address span {
  font-weight: 700;
  font-size: 20px;
}
.header-address i {
  font-size: 18px;
  border-right: solid;
  margin-right: 5px;
  padding-right: 5px;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 0.3);
}
.form-send-address {
  flex: 1;
}
.form-send-address form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.input-address {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-address input {
  width: 100%;
  border: none;
  border-radius: 5px;
  border-color: rgba(150, 150, 150, 0.3);
  margin-bottom: 13px;
  height: 40px;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
  padding-left: 8px;
}
.input-address input:focus {
  outline-width: thin;
  outline-color: #8ab0ff;
}
@media only screen and (max-width: 725px) {
  .container-frofile {
    margin-left: 15px;
    padding-right: 15px;
  }
  #col-list-trans {
    margin-top: 90px;
  }
}
